/*!
 * Roots 6.5.2
 */
 
@font-face {
    font-family: 'Sofia-BoldBold';
    src: url('../fonts/sofia-bold-webfont.eot');
    src: url('../fonts/sofia-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-bold-webfont.woff') format('woff'),
         url('../fonts/sofia-bold-webfont.ttf') format('truetype'),
         url('../fonts/sofia-bold-webfont.svg#Sofia-BoldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-LightLight';
    src: url('../fonts/sofia-light-webfont.eot');
    src: url('../fonts/sofia-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-light-webfont.woff') format('woff'),
         url('../fonts/sofia-light-webfont.ttf') format('truetype'),
         url('../fonts/sofia-light-webfont.svg#Sofia-LightLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-RegularRegular';
    src: url('../fonts/sofia-regular-webfont.eot');
    src: url('../fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-regular-webfont.woff') format('woff'),
         url('../fonts/sofia-regular-webfont.ttf') format('truetype'),
         url('../fonts/sofia-regular-webfont.svg#Sofia-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-MediumMedium';
    src: url('../fonts/sofia-medium-webfont.eot');
    src: url('../fonts/sofia-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-medium-webfont.woff') format('woff'),
         url('../fonts/sofia-medium-webfont.ttf') format('truetype'),
         url('../fonts/sofia-medium-webfont.svg#Sofia-MediumMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Color variables
   ========================================================================== */

@light-blue:  #a1bdd1;
@middle-blue: #7ba1b6;
@dark-blue:   #0f4060;
@darker-blue: #093450;
@dark-red:    #912137;

/* ==========================================================================
   Base
   ========================================================================== */

body { }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @darker-blue;
}

p{
	color: @dark-blue;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
	background: @middle-blue;
 }
 
.navbar {
	 margin-bottom: 0;
 }
 
.navbar-static-top {
    border-width: 0;
}

	.navbar-default .navbar-brand{
		font-size: 30px;
		color: #FFFFFF;
	    height: 60px;
	    line-height: 30px;
	    padding: 15px;
	    font-family: 'Sofia-RegularRegular',Arial,sans serif;
	    margin-right: 20px;
	}

	.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
		color: #FFFFFF;
	}
	
	.navbar-default .navbar-brand strong{
		font-weight: bold;
		color: @dark-blue;
	}	
		.navbar-default .navbar-nav > li > a {
		    color: #ffffff;
		    line-height: 30px;
		    border-left: 1px solid @light-blue;
		}
		
		.navbar-default .navbar-nav > li:last-child > a {
		    border-right: 1px solid @light-blue;
		}
		
		.navbar-default .navbar-nav > li > a:hover, 
		.navbar-default .navbar-nav > li > a:focus,			
		.navbar-default .navbar-nav > .active > a, 
		.navbar-default .navbar-nav > .active > a:hover, 
		.navbar-default .navbar-nav > .active > a:focus{
			color: #ffffff;
			background: @light-blue;
		}


/* ==========================================================================
   Homepage header
   ========================================================================== */
   
#home-header{
	height: 280px;
	position: relative;
	background: url("../img/BG.png") repeat-x;
}

	#home-header div.buythebook{
		padding-top: 50px;
	}

	#home-header div.buythebook p{
		font-size:18px;
		color: #002943;
		line-height: 24px;
		margin-bottom: 20px;
	}	
	
#home-arrets-links{
	background: @darker-blue;
	height: 74px;
	border-top: 1px solid #07304b;	
	border-bottom: 1px solid #c8d0d4;	
}
	
	.arrets-links-bloc{
		background: @darker-blue;
	    color: #FFFFFF;
	    display: inline-block;
	    font-size: 18px;
	    height: 72px;
	    padding: 8px 0 0 0;
	    width: 100%;
	    line-height: 25px;
	    text-align: center;
	    text-transform: uppercase;
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	    word-spacing: 2px;
	}
	
	.arrets-links-bloc span{
		font-size: 13px;
		color: @light-blue;
	}
	
	.arrets-links-bloc:hover{
	    text-decoration: none;
	    color: #fff;
	    background: @dark-blue;
	}


/* ==========================================================================
   Formulaires
   ========================================================================== */

#login{
    bottom: -245px;
    display: inline-block;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 100;
	background-color: @darker-blue;
}

#login h2{
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 17px;
	margin: 0 20px;
    padding: 6px 5px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid @middle-blue;
}
   	
#loginform{
    margin: 5px 15px 10px 15px;
    padding: 15px 5px;
    position: relative;
}

	#loginform p{
		padding: 3px 0;
		margin-bottom: 15px;
	}

	#loginform p:after{
		visibility: hidden;
		clear: both;
		content: ".";
	}
		
		#loginform p label, #loginform p input[type="text"], #loginform p input[type="password"]{
			width: 180px;
			float: left;
			display: block;
			color: #fff;
			font-weight: normal;
		}
		
		#loginform p label{
			font-size: 13px;
			width: 100px;
		}
		
		#loginform p input[type="text"], #loginform p input[type="password"]{
			background-color: #FFFFFF;
		    background-image: none;
		    border: 1px solid #CCCCCC;
		    border-radius: 4px;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		    color: #555555;
		    display: block;
		    font-size: 14px;
		    height: 28px;
		    line-height: 1.42857;
		    padding: 6px 12px;
		    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		}

		#loginform p.login-submit{
			text-align: right;
			margin-bottom: 5px;
		}

		#loginform p.login-remember{
			position: absolute;
			bottom: 0;
		}
				
		#loginform p.login-remember label{
			font-size: 12px;
			font-weight: normal;
			width: 180px;
		}
		
		#loginform p.login-remember input[type="checkbox"]{
			margin-right: 5px;
		}
		
		#loginform p input[type="submit"]{
		    cursor: pointer;
		    display: inline-block;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 1.42857;
		    margin-bottom: 0;
		    padding: 6px 12px;
		    text-align: center;
		    border: none;
		    vertical-align: middle;
		    white-space: nowrap;
		    background: @dark-red;
		    text-decoration: none;
		    color: #fff;	
		    margin-top: 5px;		
		}

/* ==========================================================================
   Content
   ========================================================================== */

.page-header {
    margin: 20px 0 10px 0;
    padding-bottom: 0;
}

#mainContent{
	padding-top: 20px;
}

#homeContent{
	margin-top: 30px;
}

.content { }

.bloc{
	display: block;
	border: 1px solid #d1d1d1;
	min-height: 150px;
	padding: 15px;
}

	.bloc h3{
		font-size: 15px;
		margin: 0;
	}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
	margin-top: 40px;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


