/*!
 * Roots 6.5.2
 */
 
@font-face {
    font-family: 'Sofia-BoldBold';
    src: url('../fonts/sofia-bold-webfont.eot');
    src: url('../fonts/sofia-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-bold-webfont.woff') format('woff'),
         url('../fonts/sofia-bold-webfont.ttf') format('truetype'),
         url('../fonts/sofia-bold-webfont.svg#Sofia-BoldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-LightLight';
    src: url('../fonts/sofia-light-webfont.eot');
    src: url('../fonts/sofia-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-light-webfont.woff') format('woff'),
         url('../fonts/sofia-light-webfont.ttf') format('truetype'),
         url('../fonts/sofia-light-webfont.svg#Sofia-LightLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-RegularRegular';
    src: url('../fonts/sofia-regular-webfont.eot');
    src: url('../fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-regular-webfont.woff') format('woff'),
         url('../fonts/sofia-regular-webfont.ttf') format('truetype'),
         url('../fonts/sofia-regular-webfont.svg#Sofia-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia-MediumMedium';
    src: url('../fonts/sofia-medium-webfont.eot');
    src: url('../fonts/sofia-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sofia-medium-webfont.woff') format('woff'),
         url('../fonts/sofia-medium-webfont.ttf') format('truetype'),
         url('../fonts/sofia-medium-webfont.svg#Sofia-MediumMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Color variables
   ========================================================================== */

@light-blue:  #a1bdd1;
@middle-blue: #7ba1b6;
@dark-blue:   #0f4060;
@darker-blue: #093450;
@dark-red:    #912137;

@darker-red:  darken(@dark-red, 5%);

/* ==========================================================================
   Base
   ========================================================================== */

.row{
	position: relative;
}

body { }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @darker-blue;
}

p{
	color: @dark-blue;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
	background: @middle-blue;
 }
 
.navbar {
	 margin-bottom: 0;
 }
 
.navbar-static-top {
    border-width: 0;
}

	.navbar-default .navbar-brand{
		font-size: 40px;
		color: #FFFFFF;
	    height: 60px;
		line-height: 50px;
	    padding: 15px;
	    font-family: 'Sofia-RegularRegular',Arial,sans serif;
	    margin-right: 20px;
	}

	.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
		color: #FFFFFF;
	}
	
	.navbar-default .navbar-brand strong{
		font-weight: bold;
		font-family: 'Sofia-MediumMedium',Arial,sans serif;	
		color: @dark-blue;
	}	
			
	.navbar-default .navbar-brand b{
		font-weight: bold;
		color: #fff;
		font-family: 'Sofia-MediumMedium',Arial,sans serif;	
	}	
	
		.navbar-default .navbar-nav > li > a {
		    color: #ffffff;
		    line-height: 50px;
		    border-left: 1px solid @light-blue;
		}
		
		.navbar-default .navbar-nav > li:last-child > a {
		    border-right: 1px solid @light-blue;
		}
		
		.navbar-default .navbar-nav.logos > li > a {
		    border:none;
		}	

		.navbar-nav.logos > li > a {
		    padding: 10px 10px;
		}
		
		.navbar-nav.navbar-right:last-child {
		    margin-right: 0;
		}
		
		.navbar-nav.main-nav:last-child{
			margin-right: 20px;
		}
		
		.navbar-default .navbar-nav.main-nav > li > a:hover, 
		.navbar-default .navbar-nav.main-nav > li > a:focus,			
		.navbar-default .navbar-nav.main-nav > .active > a, 
		.navbar-default .navbar-nav.main-nav > .active > a:hover, 
		.navbar-default .navbar-nav.main-nav > .active > a:focus{
			color: #ffffff;
			background: @light-blue;
		}


/* ==========================================================================
   Homepage header
   ========================================================================== */

.partnerLogo{

}

#logoUnine{
	
}

#logoCemaj{

}
   
#home-header{
	height: 300px;
	position: relative;
	background:@darker-blue url("../img/BG.png") repeat-x;
	border-bottom: 1px solid #bfd8ea;
}

	#home-header div.buythebook{
		padding-top: 20px;
	}

	#home-header div.buythebook h1{
		font-size:28px;
		color: @dark-red;
		line-height: 26px;
		margin-bottom: 12px;
		text-transform: uppercase;
	}	
	
	#home-header div.buythebook h2{
		font-size:20px;
		color: @dark-blue;
		line-height: 24px;
		margin: 0;
		margin-bottom: 10px;
		text-transform: uppercase;
	}	
	
	#home-header div.buythebook p{
		font-size:15px;
		color: #002943;
		line-height: 22px;
		margin-bottom: 20px;
	}	
	
#home-arrets-links{
	background: @dark-blue;;
	height: 74px;
	border-bottom: 1px solid #c8d0d4;	
}
	
	.arrets-links-bloc{
		background: @dark-blue;
	    color: #FFFFFF;
	    display: block;
	    float: left;
	    font-size: 18px;
	    height: 72px;
	    padding: 8px 0 0 0;
	    width: 50%;
	    line-height: 25px;
	    text-align: center;
	    text-transform: uppercase;
	    word-spacing: 2px;
	    border-right: 1px solid @darker-blue;
		border-left: 1px solid @darker-blue;
	}
	
	.arrets-links-bloc span{
		font-size: 13px;
		color: @light-blue;
	}
	
	.arrets-links-bloc:hover , .arrets-links-bloc.active{
	    text-decoration: none;
	    color: #fff;
	    background: @darker-blue;
	}

#buyTheBook{
	margin-top: 15px;
}

.homeText{
	margin-top: 60px;
	font-style: italic;
	font-size: 15px;
	line-height: 22px;
}

/* ==========================================================================
   Formulaires
   ========================================================================== */

#homepageAcces{
	background-color: @dark-blue;
	max-height: 200px;
}


#homepageAcces .bloc{
	float: left;
}

#homepageAcces:after{
	clear: both;
	visibility: hidden;
	content: ".";
}

#access{
	border-right: 1px dashed @light-blue; 
	margin: 0 0 0 15px;
    padding: 0 20px 0 0;
}

#login{
	margin-top: 0;
    padding-left: 5px;
    padding-right: 15px;
}

#access , #login{
    display: inline-block;
    z-index: 100;
    padding-bottom: 5px;
    width: 100%;
}


#login h2, #access h2{
	color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}
   	
#accessform,#loginform{
	margin: 0;
	padding: 0;
    position: relative;
    text-align: left;
}

	#loginform p,#accessform p{
		padding: 0;
		margin: 0 0 15px;
		display: block;
	}


	#loginform p{
		float: left;
		width: 50%;	
	}
		
	#loginform  p.login-username,
	#loginform  p.login-password{
		float: left;
		width: 50%;
	}
	
	#loginform a,#accessform a{
		color: #FFFFFF;
		font-size: 13px;
		font-weight: normal;
		padding:5px 0;
		display: block;
		clear: both;
	}
		
		#accessform p label, 
		#accessform p input[type="text"], 
		#accessform p input[type="password"],
		#loginform p label, 
		#loginform p input[type="text"], 
		#loginform p input[type="password"]{
			width: auto;			
			display: block;
			color: #fff;
			font-weight: normal;
			
		}
		
		#accessform p label,#loginform p label{
			font-size: 13px;
		}
		
		#accessform p input[type="text"], 
		#accessform p input[type="password"],
		#loginform p input[type="text"], 
		#loginform p input[type="password"]{
			background-color: #FFFFFF;
		    background-image: none;
		    border: 1px solid #CCCCCC;
		    border-radius: 4px;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		    color: #555555;
		    display: block;
		    font-size: 14px;
		    height: 28px;
		    width: 94%;
		    line-height: 1.42857;
		    padding: 6px 12px;
		    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		}
				
		#accessform p.login-remember label,#loginform p.login-remember label{
			font-size: 12px;
			font-weight: normal;
		}
		
		#accessform p.login-remember input[type="checkbox"],#loginform p.login-remember input[type="checkbox"]{
			margin: 0;
		}
		
		#loginform p input[type="submit"]{
		    cursor: pointer;
		    display: block;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 1.42857;
		    margin: 0;
		    padding: 6px 12px;
		    text-align: center;
		    border: none;
		    vertical-align: middle;
		    white-space: nowrap;
		    background: @dark-red;
		    text-decoration: none;
		    color: #fff;	
		    border-radius: 4px;	
		}
		
		#loginform p input[type="submit"]:hover,
		#loginform p input[type="submit"]:focus{
		    background: @darker-red;
		}
		
		
		#loginform  p input[type="submit"]{
			position: absolute;
			right: 20px;
			bottom: -20px;
		}

		#accessform p input[type="submit"]{
		    display: inline-block;
		    margin-top: 20px;	
		}
		
		#accessform p input[type="text"]{
			width: 100%;
		}
		

#accessCode{
	background: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 4px;
	margin-top: 50px;
}

#accessCode h2{
	font-size: 15px;
	text-transform: uppercase;
	line-height: 25px;
	margin: 0;
	color: @darker-blue;
}

#accessCode #accessform label{
	color: @dark-blue;
}

#accessCode #accessform input{
	width: 100%;
}


#choixPeriode{
	width: 98%;
}

#choixPeriode .checkbox label{
	font-size: 12px;
	line-height: 35px;
}


/* -----------------------------------------
   Header links
----------------------------------------- */

#links li{
	width:100%;
	min-height:35px;
	height:auto;
	margin:6px 2% 10px 2%;
	line-height:33px;
	font-size:13px;
	color:#000;
	display:block;
	text-align:left;
	z-index:5;
}
	
#links li.doubleLine{
	line-height:15px;
}
	
#links li a{
    vertical-align: 50%;
	font-size:13px;
	color:#0f4060;
	height:35px;
	display:block;
	background:#ecf4fa url(../img/ribbon.png) 10px 12px no-repeat;
	margin:0;
	padding-left:27px;
	border:1px solid #fff;
	position:relative;
	text-decoration: none;
}
	
#links li.doubleLine a{
	padding-top:1px;
}
	
#links li a:hover, ul#links li a.active{
	color:#fff;
	background:#50708a url(../img/ribbon-hover.png) 10px 10px no-repeat;
	border:1px solid #29455c;
}
		
/*===========================================
	Home page content
  ============================================*/


#homeContent{
	margin-top: 30px;
}

#listOptionsHomepage{
	float: right;
	display: block;
}

#listOptionsHomepage li{
	margin-bottom: 3px;
	background: rgba(255,255,255,0.5);
	padding: 5px 10px;
	text-align: right;
	width: auto;
	display: inline-block;
	color: @middle-blue;
	list-style: none;	
}

.bloc h3
{
	color: #fff;
	text-transform: uppercase;
	color: @dark-blue;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}

.bloc h4
{
    font-size: 16px;
}

.newsletterHome
{
	background: @dark-blue;
	color:  #fff;
	font-size: 14px;
	line-height: 16px;
}

.bloc.newsletterHome h3
{
	color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}

.newsletterHome a{
	font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
    padding: 3px 8px;
    width: 100%;
}

.newsletterLinks{
	margin-top: 15px;
}

.bloc.tf_bloc {
	position: relative;
}

.bloc.tf_bloc .calendar{
	background: url("../img/calendar.png") no-repeat;
	height: 24px;
	padding: 2px 0;
	text-indent: 25px;
	position: absolute;
	bottom: 0;
	left: 15px;
	font-size: 12px;
}

.bloc.tf_bloc a{
	position: absolute;
	bottom: 15px;
	right: 15px;
}


/* ==========================================================================
   Content
   ========================================================================== */

.page-header {
    margin: 20px 0 10px 0;
    padding-bottom: 0;
}

#mainContent{
	padding-top: 20px;
}


.content { }

.bloc{
	display: block;
	min-height: 200px;
	padding: 15px;
}

.bloc.blocAutoHeight{
	min-height: 0;
	border: 1px solid #ddd;
	padding: 10px;
	width: 98%;
	margin: 10px 0;
}

.blocBorder{
	border: 1px solid #d1d1d1;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


#arrets_wrapper{
	margin-top: 20px;
	padding-right: 20px;
}


.centerTitle{
	text-align: center;
	line-height: 40px;
	margin-bottom: 30px;
}

/* ==========================================================================
   Tables
   ========================================================================== */

table#arrets thead th,table#arrets tfoot th, table#arrets thead td {
    border-bottom: 1px solid #CCCCCC;
    padding:5px 10px 5px 5px;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
}

table#arrets thead th,table#arrets tfoot th {
    background: #e6e6e6;
    border-bottom: 1px solid #bababa;
}

table#arrets tbody td {
	font-size: 13px;
	padding: 5px 8px;
}

#arrets_length{
	margin-bottom: 10px;
	height: 30px;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

#sidebarNewArrets h3{
	margin: 5px 0;
	font-size: 16px;
}

#sidebarNewArrets h3 a{
	font-size: 14px;
}

#sidebarNewArrets h3.headlink a{
	padding-left: 5px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
	margin-top: 40px;
}

.top-buffer { margin-top:40px; }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }


